doctype html

  
- var mainMenu = ["Мои работы", "Обо мне", "Блог"]
- var authMenu = ["На главную", "Войти"]
  
mixin menu(items)
    each item in items
        li: a(href="#") #{item}

html
    include common/_head
    include common/_welcome-page
    include common/_header
  body
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->
    
    
    