@import "common/svg-sprite.scss";

html, body {
  height: 100%;
}

/*html {
    position: relative;
    min-height: 100%;
}*/

body {
    background-image: url('../img/1200/welcome1200.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    //margin: 0 0 100px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    display: inline-block;
}

.btn-avt {
    border: 1px solid white;
    border-radius: 5px;
    color: #FFF;
    display: inline-block;
    padding: 15px 29px;
    font-family: Roboto;
    font-size: 16px;
    position: absolute;
    top: 24px;
    right: 20px;
}


.welcome-content, .content-avt {
    height: 395px;
    width: 380px;
    opacity: 0.85;
    background-color: #fcfcfc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.my-photo {
    height: 141px;
    width: 141px;
    margin: 40px auto;
    background-color: antiquewhite;
    border-radius: 50%; 
}

.my-name {
    text-align: center;
    margin: -20px auto;
    color: #455a64;
    font-family: Roboto;
    font-size: 28px;
}

.phrase {
    text-align: center;
    margin: 30px auto;
    opacity: 0.8;
    color: #455a64;
    font-family: Roboto;
    font-size: 16px;
}

.socials {
    height: 17px;
    min-width: 138px;
    position: absolute;
    top: 270px;
    left: 74px;
    text-align: center;
}

.socials a {
    margin: 0 13px;
    fill: #00bfa5;
}

.socials a:hover {
    fill: #009688;
}


.main-menu {
    width: 388px;
    min-height: 45px;
    line-height: 45px;
    position: absolute;
    top: 334px;
    left: -40px;
    
}

.main-menu li {
    background: #23c5af;
    height: 45px;
    text-align: center;
}

.main-menu a {
    padding: 14px 33px;
    color: white;
    font-family: Roboto;
    font-size: 16px;
}

.main-menu a:hover {
    background: #22a196;
}

.avt-menu li {
    width: 188px;
}

.avt-menu a {
    padding: 14px 53px;
}

.avt-word {
    color: #455a64;
    font-family: BERNIERRegular;
    font-size: 35px;
    text-align: center;
    margin-top: 33px;
    text-transform: uppercase;
}

.avt-inputs {
    height: 20px;
    width: 340px;
    position: absolute;
    top: 100px;
}

.avt-input {
    width: 340px;
    height: 45px;
    background-color: #FFF;
    border-radius: 4px;
    color: #373e42;
    font-family: Roboto;
    font-size: 16px;
    padding: 0 221px 0 65px;
    box-sizing: border-box;
    margin-left: 20px;
    outline: none;
    border: 0;
}

.login-svg, .password-svg {
    position: absolute;
    left: 20px;
    background-color: #f0efe9;
    color: #c4cbcd;
    padding: 14px 15px;
    fill: #c4cbcd;
}

.avt-checkbox {
    width: 130px;
    margin: 0 auto;
}

.check-svg, .check-phrase {
    display: inline-block;
    padding: 10px;
}

.check-svg {
    padding: 5px;
    background-color: #00bfa5;
    width: 12px;
    height: 9px;
    fill: white;
    border-radius: 2px;
}

.check-phrase {
    width: 76px;
    height: 13px;
    opacity: (0.8);
    color: #455a64;
    font-family: Roboto;
    font-size: 16px;
}

.robot-que {
    width: 149px;
    height: 17px;
    color: #455a64;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 auto;
    opacity: (0.8);
    padding: 10px;
}

.robot-check {
    width: 210px;
    margin: 0 auto;
    height: 16px;
    opacity: (0.8);
    color: #455a64;
    font-family: Roboto;
    font-size: 16px;
    padding: 10px;
}

.robot-check input {
    margin-left: 40px;
}

.welcome-footer {
    text-align: center;
    color: white;
    font-family: Roboto;
    font-size: 16px;
    position: absolute;
    left: 0;
    bottom: 29px;
    height: 100%;
    width: 100%;
    height: 17px;
}















































