li {
	list-style: none;
}


.blog-container {
//    position: relative;
//    top: -355px;
    min-height: 2564px;
    margin-bottom: -162px;
    &:after {
        content: '';
        display: block;
        height: 162px; 
    }
}

.clearfix {

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.articles-list-item {
	width: 246px;
	height: 40px;
	color: #455a64;
	font-family: roboto-light;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	margin-bottom: 36px;
	text-align: right;
}

.articles-list-item-active {
	color: #00bfa5;
	font-weight: 700;
}

.blog-container-nav, .blog-container-content {
	float: left;
}

.blog-container-nav {
    margin-top: 60px;
}

.blog-container-content {
	width: 675px;
	margin-left: 100px;
    margin-top: 60px;
}

.first-article-title {
	width: 330px;
	min-height: 27px;
	color: #455a64;
	font-family: bernier-regular;
	font-size: 35px;
	font-weight: 400;
	line-height: 41px;
}

.first-article-date {
	width: 115px;
	height: 17px;
	opacity: 0.7;
	color: #00bfa5;
	font-family: roboto-light;
	font-size: 16px;
	font-weight: 400;
	line-height: 41px;
	margin: 28px 0 28px 0;
}

.first-article {
	width: 675px;
	height: 391px;
	color: #455a64;
	font-family: roboto-light;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
    margin-bottom: 50px;
}

.first-article-code {
	width: 682px;
	height: 112px;
	background: #f5f2f0
}

.line-between-articles {
	width: 681px;
	height: 5px;
	opacity: 0.07;
	background-color: #373e42;
	margin: 70px 0 64px 0;
}

.second-article-title {
	width: 603px;
}

.container-blog-page {
    .triangle-blog {
        fill: white;
    }
    .triangle {
        top: 350px;
    }
}

.menu_wrapper {
  position: relative;
  height: 1px;
}

.menu {
  padding-right: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0; 
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
}

.left_col {
  width: 30%;
  float: left;
  height: 1px;
}

.right_col {
  width: 60%;
  float: left;
}


.container-blog-page {
    .portfolio-svg, .my-name-header, .arrow-down-svg {
        display: none;
    }
    .my-block-container {
        top: 82px;
    }
}

.container-blog-page {
    .blog-svg {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 180px;
        opacity: 0.15;
        fill: white;
    }
    .blog-name-container {
        width: 100%;
        height: 46px;
        text-align: center; 
        position: absolute;
        top: 250px;
        .blog-name-title {
            color: white;
            font-family: bernier-regular;
            font-size: 63px;
            line-height: 56px;
        }
        .phrase-line {
            opacity: 0.4;
            background-color: white;
        }
        .phrase-line1 {
            margin-left: 540px;
        }
        .phrase-line2 {
            margin-right: 540px;
        }
    }
    .blog-header-phrase {
        position: absolute;
        top: 310px;
        width: 100%;
        text-align: center;
        height: 16px;
        color: white;
        font-family: roboto-light;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}
























