a {
	text-decoration: none;
}


.content-works {
    min-height: 2134px;
    margin-bottom: -164px;
    &:after {
        content: '';
        display: block;
        height: 164px; 
    }
}

.works-svg {
    width: 100%;
    text-align: center;
    opacity: 0.07;
    fill: #6e7171;
}

.my-works-container {
	width: 100%;
	height: 160px;
	background: #faf8f0;
	position: relative;
    top: -148px;
}

.my-works-title-container {
	width: 420px;
	height: 46px;
	position: absolute;
	top: 57px;
	left: 425px;
}

.my-works-title {
	width: 420px;
	height: 46px;
	color: #373e42;
	font-family: 'bernier-regular';
	font-size: 63px;
	line-height: 46px;
	position: absolute;
	text-align: center;
}

.phrase-line {
	width: 22px;
	height: 5px;
	opacity: 0.2;
	background-color: #373e42;
	position: absolute;
}

.phrase-line1 {
	left: 2px;
	top: 20px;
}

.phrase-line2 {
	right: 2px;
	top: 20px;
}

.clearfix {

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.works-school-site, .works-slider {
	float: left;
}

.works-school-site-container {
    margin-top: -150px;
}

.works-school-site {
	width: 50%;
	height: 750px;
	background: #f0efe9;
	position: relative;
}

.school-site-container {
	width: 420px;
	height: 250px;
	position: absolute;
	top: 245px;
	left: 100px;
}

.school-site-title-container {
	position: absolute;
	width: 390px;
	height: 74px;
	left: 20px;
}

.school-site-title {
	width: 390px;
	height: 41px;
	color: #455a64;
	font-family: 'bernier-regular';
	font-size: 35px;
	line-height: 41px;
	position: absolute;
	text-align: center;
	top: -7px;
}

.phrase-line3 {
	left: 2px;
	top: 10px;
}

.phrase-line4 {
	right: 10px;
	top: 10px;
}

.container-technologies {
	width: 420px;
	height: 51px;
	border-top: 1px solid #00bfa5;
	border-bottom: 1px solid #00bfa5;
	position: absolute;
	top: 110px;
}

.technologies {
	width: 420px;
	height: 51px;
	line-height: 51px;
	color: #20b5a1;
	font-family: 'roboto-light';
	font-size: 16px;
	text-align: center;

}

.school-site-btn {
	width: 199px;
	height: 45px;
	background-color: #00bfa5;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 110px;
}

.link-svg {
    position: absolute;
    fill: white;
    left: 18px;
    top: 13px;
}

.btn-text {
	width: 199px;
	height: 45px;
	color: white;
	font-family: 'roboto-light';
	font-size: 16px;
	line-height: 45px;
    margin-left: 50px;
}

.works-slider {
	width: 50%;
	height: 750px;
	background: #efebe0;
	position: relative;
}

.slide {
	width: 49.9%;
	height: 225px;
	background-color: rgba(182, 180, 174, 0.7);
}

.slide-down {
	position: absolute;
	left: 0;
	bottom: 0;
}

.slide-up {
	position: absolute;
	right: 0;
	bottom: 0;
}

.slide-arrow-svg {
    text-align: center;
    margin-top: 100px;
    fill: white;
}

.slide-arrow-svg a {
    fill: white;
    height: 30px;
}

.talk-about-me img {
    width: 100%;
    margin-top: -100px;
}

.talk-about-me {
    height: 1000px;
}

.about-me-svg {
    width: 100%;
    text-align: center;
    opacity: 0.07;
    fill: #6e7171;
    margin-top: -50px;
}

.talk-about-me-title-container {
	width: 420px;
	height: 46px;
	position: absolute;
	top: 1630px;
	left: 425px;
}

.talk-about-me-title {
	width: 420px;
	height: 46px;
	color: #373e42;
	font-family: 'bernier-regular';
	font-size: 63px;
	line-height: 66px;
	position: absolute;
    top: -10px;
	text-align: center;
}

.talks {
    position: relative;
    top: -1100px;
    left: 250px;
}

.talk-block {
	width: 380px;
	height: 232px;
}

.block-kovalchuk, .block-zaharov {
	float: left;
}

.block-zaharov {
	margin-left: 37px;
}

.talk-quotes {
	width: 33px;
	height: 29px;
	opacity: 0.2;
	color: #373e42;
    //font-family: 'fontawesome-webfont';
    font-family: 'font-awesome';
	font-size: 60px;
}

.talk-text {
	width: 370px;
	height: 66px;
	color: #455a64;
	font-family: 'roboto-light';
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	margin-top: 20px;
    padding-bottom: 30px;
}

.talk-photo {
	width: 77px;
	height: 77px;
	border-radius: 50%;
	margin-bottom: 0;
    background: white;
}

.talk-photo, .talk-photo-title {
	float: left;
}

.talk-photo img {
	margin-top: 0;
}

.talk-photo-title {
	width: 180px;
	height: 37px;
	color: #20b5a1;
	font-family: 'roboto-light';
	font-size: 16px;
	line-height: 24px;
	margin-left: 22px;
	margin-top: 21px;
}

.title-name {
	font-weight: 700;
}

.title-rank {
	font-weight: 400;
}

.works-form {
	width: 380px;
	height: 437px;
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 1%;
	margin: 0 auto;
	position: relative;
    margin-top: -800px;
}

.blur_form {
    width: 100%;
    height: 100%;
    filter: blur(20px);
    -webkit-filter: blur(20px);
    background-image: url("/assets/img/1200/bg.png");
    background-position: center center;
    background-repeat: no-repeat;
}

//.works-form {
    .works-form-title-container {
	position: absolute;
	width: 350px;
	height: 33px;
	top: 30px;
	left: 15px;
    }
//}

.works-form-title {
    width: 350px;
    text-align: center;
	height: 33px;
	color: #455a64;
	font-family: 'bernier-regular';
	font-size: 35px;
	font-weight: 400;
	line-height: 33px;
	position: absolute;
}

.works-form-inputs-container {
	min-height: 270px;
    width: 340px;
    position: absolute;
    top: 100px;
}

.works-form-input {
	width: 340px;
    height: 45px;
    background-color: #FFF;
    border-radius: 4px;
    color: #373e42;
    font-family: 'roboto-regular';
    font-size: 16px;
    padding-left: 20px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-left: 20px;
    outline: none;
    border: 0;
}

.email, .message {
	margin-top: 20px;
}

.message {
	height: 140px;
	padding-top: 15px;
}

.form-buttons {
    position: absolute;
    bottom: 0;
}

.btn-submit, .btn-reset {
    display: inline-block;
}

.btn-submit button, .btn-reset button {
    height: 45px;
    width: 187.7px;
    background-color: #00bfa5;
    color: white;
    font-family: 'roboto-regular';
    font-size: 16px;
    transition: 1s;
    border-style: none;
    outline: none;
    cursor: pointer;
    &:hover {
        background: #22a196;
    }
}

.btn-submit button {
    border-bottom-left-radius: 5%;
}

.btn-reset button {
    border-bottom-right-radius: 5%;
}

.arrow-up-svg {
    width: 100%;
    text-align: center;
    margin-top: 120px;
    transform: rotate(180deg);
}

.arrow-up-svg a {
    width: 15px;
    height: 15px;
    opacity: 0.7;
    fill: white;
}


.container-works-page {
    .triangle-works {
        fill: #faf8f0;
    }
}

