footer.footer
    .footer-high
        ul.footer-high-list
            li.footer-high-list-link
                a(href='#') Мои работы
            li.footer-high-list-link
                a(href='#') Обо мне
            li.footer-high-list-link
                a(href='#') Блог
            li.footer-high-list-link
                a(href='#') Авторизация
    .footer-low
        .footer-low-phrase1
            |   Я веб-разработчик из Днепропетровска, и этот проект я сделала в рамках обучения в Школе онлайн образования LoftSchool
        .footer-low-phrase2 © Ольга Нежута | создано с любовью в LoftSchool | 2016

