footer.footer
    .footer-high
        ul.footer-high-list
            li.footer-high-list-link
                a(href='works-page.html') Мои работы
            li.footer-high-list-link
                a(href='about-page.html') Обо мне
            li.footer-high-list-link
                a(href='blog-page.html') Блог
            li.footer-high-list-link
                a(href='/') Авторизация
    .footer-low
        .footer-low-phrase1
            |   Я веб-разработчик из Днепропетровска, и этот проект я сделала в рамках обучения в Школе онлайн образования LoftSchool
        .footer-low-phrase2 © Ольга Нежута | создано с любовью в LoftSchool | 2016

