html
  body
    header.header
      .header-background
        img(src='../assets/img/1200/welcome1200.jpg')
      .hamburger
        a(href='#')
          .hambuger-line.hambuger-line1
          .hambuger-line.hambuger-line2
          .hambuger-line.hambuger-line3
      .box
        svg.triangle.triangle1(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1000 85', preserveaspectratio='none')
          polygon(points='0,0   0,86   500.8,86   500.8,75.5')
        svg.triangle.triangle2(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1000 85', preserveaspectratio='none')
          polygon(points='1000,0   1000,86   500,86   500,75.5')