body
    include ../common/_header
    
    .content-about
      .about-me
        .about-me-title-container
          .phrase-line.phrase-line1
          .about-me-title Обо мне
          .phrase-line.phrase-line2
        .about-me-photo
        .about-me-text-title-container
          .phrase-line.phrase-line3
          .about-me-text-title Кто я
          .phrase-line.phrase-line4
        .about-me-text
          p
            | Я веб разработчик из Днепропетровска. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
          p
            | Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
      .about-skills
        .about-skills-title-container
          .phrase-line.phrase-line3
          .about-skills-text-title Чем я могу быть вам полезен
          .phrase-line.phrase-line4
        .about-skills-text
          | Больше всего меня привлекет Frontend разработка, но я также знакома и могу решать не сложные задачи на Backend. Но давайте по порядку.
      .content-about-map
        .contacts-list-container
          .contacts-list-title-container
            .phrase-line.phrase-line3
            .contacts-list-title Контакты
            .phrase-line.phrase-line4
          ul.contacts-list
            li Ольга Нежута
            li vzdya@yandex.ru
            li +380978304694
            li г. Днепропетровск, ул. Метростроевская, д. 5

    
    include ../common/_footer