include ../common/_mixins
body
    +preloader
    div.welcome-parallax
        div.parallax-layer
            img(src='../assets/img/parallax-mountains/layer-1.png')
        div.parallax-layer
            img(src='../assets/img/parallax-mountains/layer-2.png')
        div.parallax-layer
            img(src='../assets/img/parallax-mountains/layer-3.png')
        div.parallax-layer
            img(src='../assets/img/parallax-mountains/layer-4.png')
        div.parallax-layer
            img(src='../assets/img/parallax-mountains/layer-5.png')
        div.parallax-layer
            img(src='../assets/img/parallax-mountains/layer-6.png')
        div.parallax-layer
            img(src='../assets/img/parallax-mountains/layer-7.png')
        div.parallax-layer
            img(src='../assets/img/parallax-mountains/layer-8.png')
        div.parallax-layer
            img(src='../assets/img/parallax-mountains/layer-9.png')
        div.parallax-layer
            img(src='../assets/img/parallax-mountains/layer-10.png')
    div
        a(href="#").btn-auth Авторизоваться
    div.content-container
      div.welcome-content
          div.my-photo 
              img(src="../assets/img/1200/my-photo.jpg", alt="Olga Nezhuta")
          div.my-name Ольга Нежута
          div.phrase Личный сайт веб разработчика
          //+svgList(socials, 'socials', null, url, svgName, svgClass)
          ul.socials
              li
                  a(href="https://vk.com/id46384246" target="blank")
                      svg.svg-vk-dims
                          title Vkontakte
                          use(xlink:href="assets/img/svg-sprite.svg#vk")
              li 
                  a(href="https://github.com/OlgaNezhuta" target="blank")
                      svg.svg-github-dims
                          title Github
                          use(xlink:href="assets/img/svg-sprite.svg#github")
              li 
                  a(href="#" target="blank")
                      svg.svg-in-dims
                          title Linkedin
                          use(xlink:href="assets/img/svg-sprite.svg#in")
          ul.main-menu
             +menu(mainMenu) 
      //div.content-auth
          div.auth-word авторизуйтесь
          div.auth-inputs
              div.login
                  div.login-svg
                      svg.svg-login-dims
                          title Login
                          use(xlink:href="assets/img/svg-sprite.svg#login")
                  input(type="text", value="", placeholder="Логин", class="auth-input")
              div.password
                  div.password-svg
                      svg.svg-password-dims
                          title Password
                          use(xlink:href="assets/img/svg-sprite.svg#password")
                  input(type="text", value="", placeholder="Пароль", class="auth-input password")
              div.auth-checkbox
                lebel
                  input(type="checkbox")
                  div.check-svg-container
                    div.check-svg
                        svg.svg-check-dims
                            title Check
                            use(xlink:href="assets/img/svg-sprite.svg#check")
                  div.check-phrase 
                      Я человек
              div.radiobutton-auth
                  div.robot-question
                      Вы точно не робот?
                  div.robot-check
                      label 
                          input(type="radio", name="robot-check", value="0", class="robot-check-radio")
                          div.answer.answer1
                            div.radio-point 
                            div.radio-answer Да
                      label
                          input(type="radio", name="robot-check", value="0", class="robot-check-radio")
                          div.answer.answer2
                            div.radio-point 
                            div.radio-answer Не уверен
          ul.main-menu.auth-menu
              +menu(authMenu)
    footer.welcome-footer © Ольга Нежута | Создано с любовью в Loftschool | 2016
     
 
    
    